
/*NavrbarSectiom*/
#Nav{
  ly: outfit ;
  font-size: px;
  font-weight: 500;
  line-height: 20.16px;
  text-align: left;
  color: #0A2640;
  
  }
  #responsive-navbar-nav{
   margin-left: 14rem;  
}

.btn-navbar{
width: 154px;
height: 45px;
border-radius: 10px 12px 12px 10px;
opacity: 0px;
color: white;
background: #3CDA5F;
border: #3CDA5F;
ly: Outfit;
font-size: 20px;
font-weight: 500;
  }
  .main-nav-div{
    border-bottom: 1px solid #D6EAF9;
    background-color:#D6EAF9 ;
  }
  .nav-btn-2{
   width: 1085px;
height: 47px;
top: 10px;
left: 164px;
gap: 0px;
border-radius: 45px;
border: 1px 0px 0px 0px;
opacity: 0px;
text-align: left;
background: #FFFFFF;
border-style: none;


  }
  .nav-btn-1{
    width: 156px;
height: 45px;
top: 9.5px;
left: 5px;
gap: 0px;
border-radius: 45px;
opacity: 0px;
background: #FFFFFF;
border-style: none;


  }

/*Herosection*/
.Layout-text{
  width: 300px;
  height: 35px;
  top: 212px;
  left: 65px;
  padding: 10px 20px 10px 20px;
  gap: 10px;
  border-radius: 30px;
  opacity: 0px;
  background-color: #3CDA5F0D;
    
}
.text{
ly: Outfit;
font-size: 15px;
font-weight: 400;
line-height: 18.9px;

}
.text2-Layout{
 width: 513px;
height: 273px;
top: 254px;
left: 65px;
gap: 0px;
opacity: 0px;

}

.text-size{
ly: Outfit;
font-size: 75px;
font-weight: 500;
line-height: 90.72px;
text-align: left;

}
 .text-2{
ly: Outfit;
font-size: 75px;
font-weight: 500;
line-height: 90.72px;
text-align: left;
color: #FD273B;
 }
 .p-text{
ly: Outfit;
font-size: 20px;
font-weight: 300;
line-height: 25.2px;
text-align: left;
 }
 .btn-shop{
  width: 154px;
height: 45px;
border-color: #3CDA5F;
background: #3CDA5F;
padding: 10px;
gap: 10px;
border-radius: 10px;
opacity: 0px;
color: white;
font-weight: 600px;

 }
 .bg-img{
background-image: url('./Images/Ellipse\ 7.png');
width: 586px;
height: 413px;
gap: 0px;
opacity: 0px;

 }
 .bg-text{
  width: 439px;
  height: 95px;
  gap: 0px;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  opacity: 0px;
  background: #F8F8F8;
  box-shadow: 2px 2px 2px 2px;
   
 }
 /*Products*/
 .p-tend{
ly: Outfit;
font-size: 20px;
font-weight: 600;
line-height: 25.2px;
text-align: center;
color: #0A2640;
margin-top:  6rem;
 }
 .card-style{
  width: 180px;
  border: none !important;
  margin-left: 20px !important;
 }
 .p-deal{
  ly: Outfit;
font-size: 24px;
font-weight: 700;
line-height: 32px;
text-align: right;
color: #184363;

 }
 .buttonWithIcon {
  width: 180px;
  height: 40px;
  border-radius: 72px;
  background: #EDF4F6;
  ly: Outfit;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #184363;
  border-style: none;  
}

.icon {
  width: 20px; /* Adjust icon size as needed */
  height: 20px; /* Adjust icon size as needed */
  margin-right: 10px; /* Adjust spacing between icon and text as needed */
}

.img-bottle{
  width: 300px !important;
}
.cardpad{
  padding-right: 6rem;
}
.h3{
margin-top: 40px !important;
font-size: 24px;
font-weight: 600;
line-height: 32px;
text-align: center;

}
.medical{
background-image: url('./Images/facemask.png');
width: 608px;
height: 270px;
opacity: 0px;
}
.medical-butn{
width: 86.63px;
height: 20px;
border-radius: 10px ;
background: #F2971F;
ly: Outfit;
font-size: 12px;
font-weight: 400;
line-height: 12px;
text-align: center;
border-style: none;
color: white;

}
.h4{
ly: Outfit;
font-size: 28px;
font-weight: 500;
text-align: left;
color: #184363;

}
.shop-btn{
 width: 109.22px;
height: 40px;
border-radius: 72px;
ly: Outfit;
font-size: 15px;
font-weight: 500;
text-align: center;
background: #184363;
color: white;
border-style: none;

}
.medicard{
  background-image: url('./Images//mediacalkit.png');
width: 608px;
height: 272px;
top: 1621px;
left: 732px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
opacity: 0px;

}
.head{
width: 608px;
padding-top: 7rem;
ly: Outfit;
font-size: 28px;
font-weight: 500;
text-align: left;
color: #184363;}
.big-text{
 width: 513px;
height: 273px;
font-size: 72px;
font-weight: 500;
line-height: 90.72px;
text-align: left;
}
.text-color{
  color: #FD273B;

}
 /*testomonials*/
 .testomonial-bg{
  background-image: url('./Images/BackgroundBlue.png');
  background-size: contain;
 }
 .img-test{
 margin-left: 24rem;
 }
 .p-sec{
  padding-inline: 50px;
  width: 360px;
font-family: Open Sans;
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: left;
padding-top: 10px;


 }
  /*footersexction-1*/
  .footer-1{
    background-image: url('./Images//footer1.png');
  }
  .btn-signup{
 width: 250px;
height: 62px;
border-style: none;
border-radius: 8px ;
background: #3CDA5F;
color: white;
margin-left: 8rem;
margin-top: 20px;

  }
  .h-footer{
    margin-left: 8rem;
    margin-top: 8rem;
  }
  

  .main-footer{
    background: #0A2640;
  }
  .t-span{
    color: #3CDA5F;

  }
 @media only screen and (min-width: 320px) and (max-width: 1024px) {
  /*NavrbarSectiom*/
    .mob-nav{
      display: none;
    }
    #responsive-navbar-nav{
      margin-left: 0px !important;  
   }
   .nav-btn-2{
    display: none;
   }

/*Herosection*/

.main{
  display: flex !important;
  flex-direction: column !important;
}
     .text-size{
      margin-top: 10rem;
       font-size: 50px;
      text-align: center;
      line-height: 60px;

      }
     .text-2{
      font-size: 50px;
      line-height: 60px;
      text-align: center;
      color: #FD273B;
       }
       .p-text{
      text-align: center;
       }
       .p-text-1{
        font-size: 12px;
        }
     .bg-img{
     width: 380px; 
     margin-top: 16rem;     
      
       }
       .img-mob{
        width: 100%;
       }
       .bg-text{
        width: 300px;
         
       }
       .btn-shop{
        margin-left: 25%;
       }
        /*Products*/
        .card-style{
          width: 150px !important;
          border: none !important;
          margin-left: 0px !important;
         }
         .medical{
          width: 310px;
          /* margin-left: 15px  !important; */
         }
         .medicard{
          width: 310px;
          /* margin-left: 15px  !important; */

         }
         .polygon{
          width: 250px;
          margin-left: 20px !important;
         }
         .big-text{
          font-size: 30px;
          line-height: 50px;
          text-align: center;
          width: 200px;
          margin: 0px  !important;
         }
         .mob{
          flex-wrap: wrap;
         }
         .img-bottle{
          width: 222px !important;
         }
          .head{
          width: 300px;
          }
          .main-info{
            padding: 0px !important;
          }
          .pad-left{
            padding: 5px !important;
          }
          /*testomonials*/
          .p-sec{
            width:200px;
            font-size: 20px;
            text-align: center;
            line-height: 25px;

            
          }
          .img-test{
           display: none;


            }
            .h2{
              font-size: 20px !important;
              text-align: center;
            }

            /*footersexction-1*/
            .footer-1{
              display: flex;
              flex-direction: column;
            }
            .footer1-img{
              width: 250px
            }
            .btn-signup{
              margin-left: 0px;
              margin-top: 0px;
              width: 200px; 
              margin-left: 50px;
              width: 200px;
              height: 30px
            }
           
            .h-footer{
              margin-left: 0px;
              margin-top: 0px;
              font-size: 20px;
              margin-left: 50px;

            }
             /*footer*/
            .img-shop{
                width: 200px;
            }
            .footer-col{
              margin-left: 20%;
            }


  } 